[Unit]
Description=Ryzen TDP Timer
Requires=ryzen-tdp.service

[Timer]
OnUnitActiveSec=5
AccuracySec=1s
Unit=ryzen-tdp.service

[Install]
WantedBy=timers.target
