[Unit]
Description=Ryzen TDP
Wants=ryzen-tdp.timer

[Service]
Type=oneshot
ExecStart=/home/arch/GPD/TDP/scripts/tdp-service.sh

[Install]
WantedBy=multi-user.target
